
.galeria {


    h1 {
        margin: 2cm;
        font-family: $fuente-principal;
        font-size: $fuente-size-galeria;
        text-align: center;
        color: $color-texto-galeria;
        text-shadow: 4px 4px 4px  #1d8a92;
        }


    .imagen-contenedor {
        display: grid;
        margin-top: 10cm;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1/11;
        grid-auto-rows: auto;
        padding: 20px;
        grid-gap: 10px;
        width: 60%;
        transform: translate(250px, -350px);
        
        
            .gallery__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: $sombras;
            border-radius: 8px;
            }

            .gallery__item1 {
            grid-column-start: span 2;
            }
    
            .gallery__item9 {
            grid-column-start: span 2;
            }

    }
}














