
/*header*/ 


header {
 
    background-image: url(/Media/banner3.png);
    background-size: cover;
    width: 100;
    box-shadow: 0px 5px 15px 0px $color-sombras;




    
}
    .header__social {
  
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 5rem;
    right: 0;    
    

    .header-container {
    top: 50%;
    left: 50%;
    float: left;
    }

}

    



