$_color-teal: #008080;
$_color-turquoise: #2C9494;
$_color-cel: #00CCCC;
$_color-cel2: #3DCCCC;
$_color-black: #000000;
$_color-gold: #E0CB47;
$_color-white: white;
$_color-grey: #313131;
$_color-claro: #def3f7;


$color-titulos: $_color-teal;
$color-titulocajas: $_color-white;

$color-texto: $_color-black;
$color-textofooter: $_color-white;
$color-fondo: rgb(188, 241, 243);
$color-backgroundtextos: $_color-teal;

$color-bordes: $_color-black;
$color-sombras: $_color-grey;
$color-texto-galeria: $_color-claro;