.tituloct {

h1 {
    font-family: $fuente-principal;
    text-align: center;
    font-size: $fuente-size-titulos;
    margin-top: 1cm;
    text-shadow: $sombras;
    color: $color-backgroundtextos;
    }
}

.card-deck {
    padding: 80px;
}
.card-img-top {
    border: 2px solid $color-bordes;
}
