footer{
    background: $color-backgroundtextos;
    background: linear-gradient(90deg, rgba(9,121,88,1) 0%, rgba(252,252,252,1) 57%, rgba(0,212,255,1) 100%);    
}
.buttons {
        min-width: 700px;
        display: flex;
        justify-content: space-around;
    
      
      a {
        text-decoration: none;
        font-size: $fuente-size-b;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: $color-backgroundtextos;
        color: $color-textofooter;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
        margin-bottom: 2cm;

        &:hover {
            transform: scale(1.2);
          }
      }
}
      
    

    
      .titulofooter {
          font-size: 60px;
          margin-bottom: 1cm;
          text-align: center;
          font-family:'Open Sans', sans-serif;
          color: aliceblue;
          text-shadow: 2px 2px 8px black;

      }